<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="_bootstrap::link">
    <meta charset="UTF-8">
    <title>Добавить карту</title>
</head>
<body>
<header th:insert="_header"></header>
<div class="container">
    <div class="row justify-content-center min-vh-100">
        <div class="col-4 align-self-center">
            <form th:action="@{/cards/add}" th:object="${card}" method="post">
                <div class="mb-3">
                    <label for="accountId" class="form-label">Номер счёта</label>
                    <select name="accountId" th:field="*{accountId}" class="form-select" id="accountId" required>
                        <option value="" disabled selected>Выберите счёт</option>
                        <option th:each="account : ${accounts}"
                                th:value="${account.id}"
                                th:text="${account.accountNumber}">
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="cardType" class="form-label">Тип карты</label>
                    <select name="cardType" th:field="*{cardType}" class="form-select" id="cardType" required>
                        <option value="" disabled selected>Выберите тип карты</option>
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Добавить карту</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
